.payment {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.payment_container {
  width: 100%;
  max-width: 1200px;
}

.payment_section {
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  
}
.pp{
    display: flex;
}

.payment_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.payment_address, .payment_details, .payment_items {
  margin-left: 20px;
}

.payment_address p, .payment_item_details p {
  margin: 5px 0;
}

.payment_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.payment_item img {
  width: 100px;
  height: auto;
  object-fit: contain;
  margin-right: 20px;
}

.payment_item_details {
  flex: 1;
}

.payment_total {
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 20px;
}

.payment_total p {
  margin: 10px 0;
}

.payment_button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.payment_button:hover {
  background-color: #ddb347;
}

.h1{
    display: flex;
    justify-content: center;
}